##首字母大写
#macro(firstToUpper $field)$field.toUpperCase().substring(0,1)$field.substring(1)#end
##首字母小写
#macro(firstToLower $field)$field.toLowerCase().substring(0,1)$field.substring(1)#end
##字母小写
#macro(nametoLower $field)$field.toLowerCase()#end
<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<script src="./${languagePath.toLowerCase()}/js/#nametoLower($tableInfo.tableLabel)Detail.js" type="text/javascript"></script>
<div class="editForm editForm0">
	<form id="#firstToUpper(${tableInfo.tableLabel})DetailForm" name="#firstToUpper(${tableInfo.tableLabel})DetailForm" method="post">
		<div class="row">
#foreach($field in $tableInfo.noteshuColList)
			<div class="col-md-4">
		        <label id="nd_#firstToLower($field.columnLabel)"></label>
		    	<span id="det_#firstToLower($field.columnLabel)"></span>
		    </div>
#if($velocityCount%3==0&&$velocityCount!=${tableInfo.noteshuColList.size()})
		</div>
		<div class="row">
#end						
#end	
		</div>
	</form>	
	<center>
		<input type="button" value="关闭" id="closeDetail" class="closebtn" onclick="saveDialogClose();"/>
	</center>
</div>              