package ${packageName}.${projectName}.model;

import java.util.Date;
import ${basePath}.BaseModel;

/**
 * @description $tableModel.tableComment对象
 * @author ${author}
 * @version 1.0.0
 * @createtime $time
 */
public class ${builder.firstToUpper(${tableModel.tableLabel})} extends BaseModel {

#foreach($field in $tableModel.columnList)
#if(!${field.isDeleteFlag()}&&!${field.isIgnoreFlag()})
	private ${field.columnSimpleClassName} $field.columnLabel;//$field.columnComment
#end
#end

#foreach($field in $tableModel.columnList)
#if(!${field.isDeleteFlag()}&&!${field.isIgnoreFlag()})
	public ${field.columnSimpleClassName} get${builder.firstToUpper($field.columnLabel)}(){
		return $field.columnLabel;
	}
	public void set${builder.firstToUpper($field.columnLabel)}(${field.columnSimpleClassName} $field.columnLabel){
		this.$field.columnLabel = $field.columnLabel;
	}

#end
#end

	@Override
	public String toString() {
		StringBuffer sb = new StringBuffer();
		sb.append("{");
#foreach($field in $tableModel.columnList)
		sb.append("$field.columnLabel="+$field.columnLabel+",");
#end
		sb.append("}");
		return sb.toString();
	}
}