##首字母大写
#macro(firstToUpper $field)$field.toUpperCase().substring(0,1)$field.substring(1)#end
##首字母小写
package ${packageName}.${projectName.toLowerCase()}.model;

import java.util.Date;
import ${basePath}.BaseModel;

/**
 * @description $tableModel.tableComment对象
 * @author ${author}
 * @version 1.0.0
 * @createtime $time
 */
public class #firstToUpper(${tableModel.tableLabel}) extends BaseModel {

#foreach($field in $tableModel.columnCommonList)
	private ${field.columnSimpleClassName} $field.columnLabel;//$field.columnComment
#end
#foreach($field in $tableModel.columnCommonList)

	public ${field.columnSimpleClassName} get#firstToUpper($field.columnLabel)(){
		return $field.columnLabel;
	}
	public void set#firstToUpper($field.columnLabel)(${field.columnSimpleClassName} $field.columnLabel){
		this.$field.columnLabel = $field.columnLabel;
	}
#end

	@Override
	public String toString() {
		StringBuffer sb = new StringBuffer();
		sb.append("{");
#foreach($field in $tableModel.columnCommonList)
		sb.append("$field.columnLabel="+$field.columnLabel+",");
#end
		sb.append("}");
		return sb.toString();
	}
}