<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- mybatis返回map类型数据空值字段设置显示 -->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <!-- 映射model -->
    <typeAliases>
#foreach($table in $tableModelList)
        <!-- $table.tableComment -->
        <typeAlias alias="${builder.firstToLower($table.tableLabel)}" type="${packageName}.${projectName}.model.${builder.firstToUpper($table.tableLabel)}"/>
#end
    </typeAliases>

    <!-- 映射mapper -->
    <mappers>
#foreach($table in $tableModelList)
        <!-- $table.tableComment -->
        <mapper resource="config/mybatis/${projectName}/${builder.firstToUpper($table.tableLabel)}Mapper.xml"/>
#end
    </mappers>
</configuration>
