package ${packageName}.${projectName.toLowerCase()}.service.impl;

import ${packageName}.${projectName.toLowerCase()}.model.${builder.firstToUpper(${tableModel.tableLabel})};
import ${packageName}.${projectName.toLowerCase()}.dao.${builder.firstToUpper(${tableModel.tableLabel})}Dao;
import ${packageName}.${projectName.toLowerCase()}.service.${builder.firstToUpper(${tableModel.tableLabel})}Service;
import ${basePath}.BaseService;
import ${pageBean};
import java.util.List;
import java.util.Map;

/**
 * @description $tableModel.tableComment逻辑层实现
 * @author ${author}
 * @version 1.0.0
 * @createtime $time
 */
public class ${builder.firstToUpper(${tableModel.tableLabel})}ServiceImpl extends BaseService implements ${builder.firstToUpper(${tableModel.tableLabel})}Service {

	private ${builder.firstToUpper(${tableModel.tableLabel})}Dao ${builder.firstToLower(${tableModel.tableLabel})}Dao;

	public void set${builder.firstToUpper(${tableModel.tableLabel})}Dao(${builder.firstToUpper(${tableModel.tableLabel})}Dao ${builder.firstToLower(${tableModel.tableLabel})}Dao) {
		this.${builder.firstToLower(${tableModel.tableLabel})}Dao = ${builder.firstToLower(${tableModel.tableLabel})}Dao;
	}

	@Override
	public ${builder.firstToUpper(${tableModel.tableLabel})} insert${builder.firstToUpper(${tableModel.tableLabel})}(${builder.firstToUpper(${tableModel.tableLabel})} entity){
		return ${builder.firstToLower(${tableModel.tableLabel})}Dao.insert(entity);
	}

	@Override
	public boolean delete${builder.firstToUpper(${tableModel.tableLabel})}(${builder.firstToUpper(${tableModel.tableLabel})} entity){
		return ${builder.firstToLower(${tableModel.tableLabel})}Dao.delete(entity)>0;
	}

	@Override
	public boolean update${builder.firstToUpper(${tableModel.tableLabel})}(${builder.firstToUpper(${tableModel.tableLabel})} entity){
		return ${builder.firstToLower(${tableModel.tableLabel})}Dao.update(entity)>0;
	}

	@Override
	public ${builder.firstToUpper(${tableModel.tableLabel})} get${builder.firstToUpper(${tableModel.tableLabel})}(${builder.firstToUpper(${tableModel.tableLabel})} entity){
		return (${builder.firstToUpper(${tableModel.tableLabel})})${builder.firstToLower(${tableModel.tableLabel})}Dao.get(entity);
	}


	@Override
	public List get${builder.firstToUpper(${tableModel.tableLabel})}List(${builder.firstToUpper(${tableModel.tableLabel})} entity){
		return ${builder.firstToLower(${tableModel.tableLabel})}Dao.getList(entity);
	}

	@Override
	public Page get${builder.firstToUpper(${tableModel.tableLabel})}Page(Map map, int pageNo,int pageSize,String pageSort){
		return ${builder.firstToLower(${tableModel.tableLabel})}Dao.getForPage(map,pageNo,pageSize,pageSort);
	}

}

