package ${packageName}.${projectName.toLowerCase()}.test;

import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import java.util.HashMap;
import java.util.Map;
import ${packageName}.${projectName.toLowerCase()}.model.${builder.firstToUpper(${tableModel.tableLabel})};
import ${packageName}.${projectName.toLowerCase()}.service.${builder.firstToUpper(${tableModel.tableLabel})}Service;

/**
 * @description $tableModel.ttableComment逻辑层测试
 * @author ${author}	 
 * @createtime $time
 */
@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration({"classpath:config/spring/spring-service.xml", "classpath:config/spring/spring-mybatis.xml","classpath:config/spring/${projectName.toLowerCase()}-*.xml"})
public class ${builder.firstToUpper(${tableModel.tableLabel})}ServiceTest {
 
	@Autowired
	private ${builder.firstToUpper(${tableModel.tableLabel})}Service ${builder.firstToLower(${tableModel.tableLabel})}Service;

 	@Test
	public void testInsert() {
		${builder.firstToUpper(${tableModel.tableLabel})} ${builder.firstToLower(${tableModel.tableLabel})} = new ${builder.firstToUpper(${tableModel.tableLabel})}();
		${builder.firstToLower(${tableModel.tableLabel})}Service.insert(${builder.firstToLower(${tableModel.tableLabel})});
	}

	@Test
	public void testDelete() {
		${builder.firstToUpper(${tableModel.tableLabel})} ${builder.firstToLower(${tableModel.tableLabel})} = new ${builder.firstToUpper(${tableModel.tableLabel})}();
		${builder.firstToLower(${tableModel.tableLabel})}Service.delete(${builder.firstToLower(${tableModel.tableLabel})});
	}

	@Test
	public void testUpdate() {
		${builder.firstToUpper(${tableModel.tableLabel})} ${builder.firstToLower(${tableModel.tableLabel})} = new ${builder.firstToUpper(${tableModel.tableLabel})}();
		${builder.firstToLower(${tableModel.tableLabel})}Service.update(${builder.firstToLower(${tableModel.tableLabel})});
	}

	@Test
	public void testGet() {
		${builder.firstToUpper(${tableModel.tableLabel})} ${builder.firstToLower(${tableModel.tableLabel})} = new ${builder.firstToUpper(${tableModel.tableLabel})}();
		${builder.firstToLower(${tableModel.tableLabel})}Service.get(${builder.firstToLower(${tableModel.tableLabel})});
	}

	@Test
	public void testGetListForPage() {
		Map map = new HashMap();
		${builder.firstToLower(${tableModel.tableLabel})}Service.getListForPage(map, 1, 10, "");
	}

	@Test
	public void testGetList() {
		${builder.firstToUpper(${tableModel.tableLabel})} ${builder.firstToLower(${tableModel.tableLabel})} = new ${builder.firstToUpper(${tableModel.tableLabel})}();
		${builder.firstToLower(${tableModel.tableLabel})}Service.getList(${builder.firstToLower(${tableModel.tableLabel})});
	}
 
}