package ${packageName}.${projectName}.service;

import ${packageName}.${projectName}.model.${builder.firstToUpper(${tableModel.tableLabel})};
import ${pageBean};
import java.util.List;
import java.util.Map;

/**
 * @description $tableModel.tableComment逻辑层接口
 * @author ${author}
 * @version 1.0.0
 * @createtime $time
 */
public interface ${builder.firstToUpper(${tableModel.tableLabel})}Service{

	/**
	 * @description $tableModel.tableComment增加
	 * @param entity
	 * @return
	 */
	public abstract ${builder.firstToUpper(${tableModel.tableLabel})} insert${builder.firstToUpper(${tableModel.tableLabel})}(${builder.firstToUpper(${tableModel.tableLabel})} entity);

	/**
	 * @description $tableModel.tableComment删除
	 * @param entity
	 * @return
	 */
	public abstract boolean delete${builder.firstToUpper(${tableModel.tableLabel})}(${builder.firstToUpper(${tableModel.tableLabel})} entity);

	/**
	 * @description $tableModel.tableComment修改
	 * @param entity
	 * @return
	 */
  	public abstract boolean update${builder.firstToUpper(${tableModel.tableLabel})}(${builder.firstToUpper(${tableModel.tableLabel})} entity);

	/**
	 * @description $tableModel.tableComment单条查询
	 * @param entity
	 * @return
	 */
  	public abstract ${builder.firstToUpper(${tableModel.tableLabel})} get${builder.firstToUpper(${tableModel.tableLabel})}(${builder.firstToUpper(${tableModel.tableLabel})} entity);

	/**
	 * @description $tableModel.tableComment列表查询
	 * @param entity
	 * @return
	 */
  	public abstract List get${builder.firstToUpper(${tableModel.tableLabel})}List(${builder.firstToUpper(${tableModel.tableLabel})} entity);

	/**
	 * @description $tableModel.tableComment分页查询
	 * @param map
	 * @param pageNo
	 * @param pageSize
	 * @param pageSort
	 * @return
	 */
	public abstract Page get${builder.firstToUpper(${tableModel.tableLabel})}Page(Map map, int pageNo, int pageSize, String pageSort);

}
