##首字母大写
#macro(firstToUpper $field)$field.toUpperCase().substring(0,1)$field.substring(1)#end
##首字母小写
#macro(firstToLower $field)$field.toLowerCase().substring(0,1)$field.substring(1)#end
var #firstToLower($tableInfo.tableLabel)DataName=[{
#set( $count = 1)
#foreach($field in $tableInfo.noteshuColList)
	#firstToLower($field.columnLabel):"$field.colComment"#if($velocityCount!=${tableInfo.noteshuColList.size()}),
#end
#set($count=$count+1)
#end

}];

var #firstToLower($tableInfo.tableLabel)GridHead=[
#foreach($field in $tableInfo.noteshuColList)
#if(${field.columnSimpleClassName.toLowerCase()}=="date")
	{display: '$field.colComment', name: '#firstToLower($field.columnLabel)', width: '10%', align: 'center', isSort: false,
		render:function (rowdata, rowindex, value) {
			if(value&&value.length>10){
				return value.substring(0,10);
			}else{
				return "";
			}
		}
	},
#else
	{display: '$field.colComment', name: '#firstToLower($field.columnLabel)', width: '10%', align: 'center', isSort: false},
#end
#end
	{display: '操作', isSort: false, width: 90, 
		render: function (rowdata, rowindex, value){
			var optGrp;
#foreach($field in $tableInfo.columnList)
#if(${field.isPrimaryKey()})
			optGrp = [
				{"name":"修改","icon":"fa-pencil","action":"init#firstToUpper($tableInfo.tableLabel)Modify('" + rowdata.#firstToLower($field.columnLabel) + "')"},
			  	{"name":"删除","icon":"fa-trash-o","action":"init#firstToUpper($tableInfo.tableLabel)Delete('" + rowdata.#firstToLower($field.columnLabel) + "')"}
			];
#end
#end
	    	return outputOpt(optGrp);
    	}
    }
];
	                
var ADD = "添加";
var DELETE = "删除";
var MODIFY = "修改";
var DETAIL = "详情";
var #firstToLower($tableInfo.tableLabel)Management="${tableInfo.tabComment}";
var #firstToLower($tableInfo.tableLabel)DelMsg="是否要删除${tableInfo.tabComment}？";