##首字母大写
#macro(firstToUpper $field)$field.toUpperCase().substring(0,1)$field.substring(1)#end
##首字母小写
#macro(firstToLower $field)$field.toLowerCase().substring(0,1)$field.substring(1)#end
##字母小写
#macro(nametoLower $field)$field.toLowerCase()#end
<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<script src="./${languagePath.toLowerCase()}/js/#firstToUpper($tableModel.tableLabel)Man.js" type="text/javascript"></script>
<div class="container">
	<form id="#firstToUpper(${tableModel.tableLabel})Form" name="#firstToUpper(${tableModel.tableLabel})Form" onsubmit="return false" class="queryForm">
		<div class="row fluidLabel">
			<div class="col-md-3">
#foreach($field in $tableModel.columnPKList)
				<input type="hidden" id="d_#firstToLower($field.columnLabel)" name="d_#firstToLower($field.columnLabel)"/>
                <input type="text" ltype="text" id="q_#firstToLower($field.columnLabel)" placeholder="请输入$field.columnComment" width="100%"/>
#end
            </div>
            <div class="col-md-1">
    			<button class="btn btn-default" type="button" onclick="get#firstToUpper(${tableModel.tableLabel})Search()">查询</button>
			</div>
            <div id="more" class="pull-right">
                <div class="gw_more" data-toggle="collapse" data-target="#detail">
                    更多筛选条件<i id="moreCon" class="fa fa-chevron-circle-down"></i>
                </div>
            </div>
        </div>
        <div id="detail" class="box panel-collapse collapse topGap">
#foreach($field in $tableModel.columnCommonList)
#if(${field.columnSimpleClassName.toLowerCase()}=="date")
            <div class="row datePicker">
#else
            <div class="row">
#end
            	<label id="n_#firstToLower($field.columnLabel)"></label>
				<input type="text" ltype="text" id="q_#firstToLower($field.columnLabel)" name="q_#firstToLower($field.columnLabel)"/>
            </div>
#end
        </div>
	</form>
	<div class="box topGap">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">查询结果
					<span class="btnGrp">
						<i title="新增" class="fa fa-plus" onclick="init#firstToUpper(${tableModel.tableLabel})Add();"></i>
					</span>
				</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="#firstToUpper(${tableModel.tableLabel})MainGrid"></div>
            </div>
        </div>
    </div>
</div>