##首字母大写
#macro(firstToUpper $field)$field.toUpperCase().substring(0,1)$field.substring(1)#end
##首字母小写
#macro(firstToLower $field)$field.toLowerCase().substring(0,1)$field.substring(1)#end
var #firstToLower(${tableModel.tableLabel})DetUrl=rootPath+"/${languagePath.toLowerCase()}/query_#firstToLower($tableModel.tableLabel).action";
var #firstToLower(${tableModel.tableLabel})ModUrl=rootPath+"/${languagePath.toLowerCase()}/modify_#firstToLower($tableModel.tableLabel).action";

$(function (){
	setPageControl("nm_",#firstToLower($tableModel.tableLabel)DataName,"span");
	$.metadata.setType("attr","validate");
    $("${builder.getJing()}#firstToUpper(${tableModel.tableLabel})ModifyForm").validate({
        errorPlacement: function (lable, element){
        	errorPlacement(lable, element);
        },
        success: function (lable){
        	success(lable);
        },
        submitHandler: function (){
        	submitHandler();
        	submit#firstToUpper(${tableModel.tableLabel})Modify();
        }
    });
    set#firstToUpper(${tableModel.tableLabel})();
    initDataPicker();
    WoohForm.createForm('#firstToUpper(${tableModel.tableLabel})ModifyForm',{});
});  

//初始页面数据
function set#firstToUpper(${tableModel.tableLabel})(){
	var paramObj = {};
#foreach($field in $tableModel.columnPKList)
	paramObj.#firstToLower($field.columnLabel)=#firstToLower($field.columnLabel);
	$("#m_#firstToLower($field.columnLabel)").val(#firstToLower($field.columnLabel));
#end
	asyncAjaxPost(JSON.stringify(paramObj), #firstToLower(${tableModel.tableLabel})DetUrl, function (data) {
		setPageControl("m_", data.l#firstToUpper(${tableModel.tableLabel}));
	});
}

//修改数据
function submit#firstToUpper(${tableModel.tableLabel})Modify(){
ajaxSubmit("m_",#firstToLower(${tableModel.tableLabel})ModUrl,#firstToLower(${tableModel.tableLabel})Management,MODIFY,3,"goback()");
}