<!DOCTYPE html>
<html>
<head>
    <title>$tableModel.tableComment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="./${projectName}/js/${builder.firstToUpper($tableModel.tableLabel)}Modify.js"/>
</head>
<body>
<div class="editForm editForm0">
	<form id="${builder.firstToUpper($tableModel.tableLabel)}ModifyForm" name="${builder.firstToUpper($tableModel.tableLabel)}ModifyForm" method="post">
#foreach($field in $tableModel.columnList)
#if(${field.isPrimaryKey()})
        <input type="hidden" id="m_${builder.firstToLower($field.columnLabel)}" name="m_${builder.firstToLower($field.columnLabel)}"/>
#end
#end
		<div class="row">
#set($count=1)
#foreach($field in $tableModel.columnList)
#if(!${field.isDeleteFlag()}&&!${field.isIgnoreFlag()}&&!${field.isPrimaryKey()})
#if(${builder.toUpperCase(${field.columnSimpleClassName})}=="DATE")
			<div class="col-md-4 datePicker">
				<label id="nm_${builder.firstToLower($field.columnLabel)}" #if($field.nullable!=true)class="required"#end></label>
				<input type="text" ltype="text" class="dateMark" id="m_${builder.firstToLower($field.columnLabel)}" name="m_${builder.firstToLower($field.columnLabel)}" #if($field.nullable!=true)validate="{required:true}"#end/>
			</div>
#else
			<div class="col-md-4">
				<label id="nm_${builder.firstToLower($field.columnLabel)}" #if($field.nullable!=true)class="required"#end></label>
				<input type="text" ltype="text" id="m_${builder.firstToLower($field.columnLabel)}" name="m_${builder.firstToLower($field.columnLabel)}" #if($field.nullable!=true)validate="{required:true}"#end/>
			</div>
#end
#if($count%3==0&&$count!=${tableModel.columnList.size()})
		</div>
		<div class="row">
#end
#set($count=$count+1)
#end
#end
		</div>
	</form>
	<center>
		<input type="button" value="保存" class="savebtn" id="saveModify" onclick="$('${builder.getJing()}${builder.firstToUpper($tableModel.tableLabel)}ModifyForm').submit()"/>
	    <input type="button" value="关闭" class="closebtn" id="closeModify" onclick="saveDialogClose();"/>
	</center>
</div>
</body>
</html>