##首字母大写
#macro(firstToUpper $field)$field.toUpperCase().substring(0,1)$field.substring(1)#end
##首字母小写
#macro(firstToLower $field)$field.toLowerCase().substring(0,1)$field.substring(1)#end
var #firstToLower(${tableModel.tableLabel})AddUrl=rootPath+"/${languagePath.toLowerCase()}/insert_#firstToLower($tableModel.tableLabel).action";

$(function (){
	setPageControl("na_",#firstToLower($tableModel.tableLabel)DataName,"span");
    $.metadata.setType("attr", "validate");
	$("${builder.getJing()}#firstToUpper(${tableModel.tableLabel})AddForm").validate({
		errorPlacement: function (lable, element){
			errorPlacement(lable, element);
		},
		success: function (lable){
	    	success(lable);
	    },
	    submitHandler: function (){
	    	submitHandler();
	    	submit#firstToUpper(${tableModel.tableLabel})Add();
	    }
	});
	initDataPicker();
    WoohForm.createForm('#firstToUpper(${tableModel.tableLabel})AddForm',{});
});
    
//增加数据
function submit#firstToUpper(${tableModel.tableLabel})Add(){
	ajaxSubmit("a_",#firstToLower(${tableModel.tableLabel})AddUrl,#firstToLower(${tableModel.tableLabel})Management,ADD,3,"goback()");
}