var get${builder.firstToUpper($tableModel.tableLabel)}PageUrl="./${projectName}/${builder.firstToLower($tableModel.tableLabel)}/get${builder.firstToUpper($tableModel.tableLabel)}Page";
var delete${builder.firstToUpper($tableModel.tableLabel)}Url="./${projectName}/${builder.firstToLower($tableModel.tableLabel)}/delete${builder.firstToUpper($tableModel.tableLabel)}";
var ${builder.firstToUpper($tableModel.tableLabel)}Grid = null;
#foreach($field in $tableModel.columnList)
#if(${field.isPrimaryKey()})
	var ${builder.firstToLower($field.columnLabel)};
#end
#end

$(function () {
	setLanguage("${builder.toLowerCase($tableModel.tableLabel)}Page.js","",window.parent.languageFlag,window.parent.languagePath);
	setPageControl("n_",${builder.firstToLower($tableModel.tableLabel)}DataName,"span");
	//初始化表格
	${builder.firstToUpper($tableModel.tableLabel)}Grid = WoohGrid.createGrid("${builder.firstToUpper($tableModel.tableLabel)}MainGrid",{
		columns: ${builder.firstToLower($tableModel.tableLabel)}GridHead,
		onSuccess:function(data, grid){
			if(data.result=="false"){
				$.ligerDialog.error(data.data);
			}
		},
		where:get${builder.firstToUpper($tableModel.tableLabel)}Search(),
		root:"l${builder.firstToUpper($tableModel.tableLabel)}",
		record:"totalrows",
		allowHideColumn:false,
		colLen:1,
		data:null,
		width: '98%',
		isScroll: false
	});

	WoohTextBox.createTextBox("q_searchValue", {
		onKeyEnter:get${builder.firstToUpper($tableModel.tableLabel)}Search
	});

	WoohForm.createForm("${builder.firstToUpper($tableModel.tableLabel)}Form",{});
	get${builder.firstToUpper($tableModel.tableLabel)}Search();
});

//查询多行数据
function get${builder.firstToUpper($tableModel.tableLabel)}Search(){
	if (!${builder.firstToUpper($tableModel.tableLabel)}Grid){
		return false;
	}
	setParams("q_");
	${builder.firstToUpper($tableModel.tableLabel)}Grid.setOptions({
		url:get${builder.firstToUpper($tableModel.tableLabel)}PageUrl,
		parms:params,
		dataAction: 'server',
		newPage:1
	});
}

//增加数据
function init${builder.firstToUpper($tableModel.tableLabel)}Add(){
	checkSubmitFlag = false;
	targetTabJsp("${projectName}/html/${builder.toLowerCase($tableModel.tableLabel)}Add.html","${tableModel.tableComment}添加");
}

//修改数据
function init${builder.firstToUpper($tableModel.tableLabel)}Modify(id){
	checkSubmitFlag = false;
#foreach($field in $tableModel.columnList)
#if(${field.isPrimaryKey()})
	${builder.firstToLower($field.columnLabel)}=id;
#end
#end
	targetTabJsp("${projectName}/html/${builder.toLowerCase($tableModel.tableLabel)}Modify.html","${tableModel.tableComment}修改");
}

//删除数据
function init${builder.firstToUpper($tableModel.tableLabel)}Delete(id){
	$.ligerDialog.confirm(${builder.firstToLower($tableModel.tableLabel)}DelMsg, function(yes){
		if (yes){
#foreach($field in $tableModel.columnList)
#if(${field.isPrimaryKey()})
			$("#d_${builder.firstToLower($field.columnLabel)}").val(id);
#end
#end
			ajaxSubmit("d_",delete${builder.firstToUpper($tableModel.tableLabel)}Url,"${tableModel.tableComment}","删除",2,"${builder.firstToUpper($tableModel.tableLabel)}");
		}
	});
}

//查询明细
function init${builder.firstToUpper($tableModel.tableLabel)}Detail(id){
#foreach($field in $tableModel.columnList)
#if(${field.isPrimaryKey()})
	${builder.firstToLower($field.columnLabel)}=id;
#end
#end
	targetTabJsp("${projectName}/html/${builder.toLowerCase($tableModel.tableLabel)}Detail.html","${tableModel.tableComment}明细");
}

//返回
function goback(){
	saveDialogClose();
	get${builder.firstToUpper($tableModel.tableLabel)}Search();
}