<!DOCTYPE html>
<html>
<head>
    <title>$tableModel.tableComment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="./${projectName}/js/${builder.firstToUpper($tableModel.tableLabel)}Detail.js"/>
</head>
<body>
<div class="editForm editForm0">
	<form id="${builder.firstToUpper($tableModel.tableLabel)}DetailForm" name="${builder.firstToUpper($tableModel.tableLabel)}DetailForm" method="post">
		<div class="row">
#set($count=1)
#foreach($field in $tableModel.columnList)
#if(!${field.isDeleteFlag()}&&!${field.isIgnoreFlag()}&&!${field.isPrimaryKey()})
			<div class="col-md-4">
				<label id="nd_${builder.firstToLower($field.columnLabel)}"></label>
				<span id="det_${builder.firstToLower($field.columnLabel)}"></span>
			</div>
#if($count%3==0&&$count!=${tableModel.columnList.size()})
		</div>
		<div class="row">
#end
#set($count=$count+1)
#end
#end
		</div>
	</form>
	<center>
		<input type="button" value="关闭" id="closeDetail" class="closebtn" onclick="saveDialogClose();"/>
	</center>
</div>
</body>
</html>